@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    font-family: 'Noto Sans JP', sans-serif;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.error {
    color: #ff0000;
}

.futmenu {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
    border-top: 1px solid rgb(239, 243, 244);
    background-color: #f8fafc;
}

.btm-images {
    height: 1.8rem;
    width: 1.8rem;
}

.arrow-right {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
}

.liked {
    color: #3490dc;
}

body {
    margin-bottom: 3.5rem;
}

.material-icons {
    font-size: 1.5rem;
    cursor: pointer;
}

.iine {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    border: 1px solid;
    border-radius: 0.5rem;
    border-color: #eeeeee;
}

.undermenu-icon {
    font-size: 2rem;
    line-height: 3.5rem;
    color: #5f6368;
}

.undermenu-icon-clicked {
    font-size: 2rem;
    line-height: 3.5rem;
    color: #3490dc;
}

.new-ranking {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar {
    margin-top: 1.4rem;
}

.inside-sidebar {
    border: none;
}


/*ヒヤリハットの一覧カード*/

.card-ichiran {
    margin-left: 1rem;
    margin-right: 1rem;
}


/*マテリアアイコンの定義*/

.person::after {
    font-family: 'Material Icons';
    content: "\e7fd";
}

.edit:before {
    font-family: 'Material Icons';
    content: "\e254";
}

.search:before {
    font-family: 'Material Icons';
    content: "\e8b6";
}

.crown:before {
    font-family: 'Material Icons';
    content: "\ea23";
}

.home:before {
    font-family: 'Material Icons';
    content: "\e88a";
}